*{
    padding:0;
    margin:0;
    font-family:sans-serif;
}
.main{
    height:100%;
    width:100%;
    background-image:url("photos/Pinky.jpg");
    background-position: center;
    background-size: cover;
    position:absolute;
}
.login{
    width:380px;
    height:480px;
    position:relative;
    margin:6% auto;
    background:#fff;
    padding:5px;
    overflow:hidden;
}
.button{
    width:220px;
    margin:35px auto;
    box-shadow:0 0 20px 9px #ff61241f;
    
    border-radius:30px ;
}
.btn{
    padding:10px 30px;
    cursor:pointer;
    background:transparent ;
    border:0;
    outline:none;
    position:relative;
 
  transition:.5s;
}
#bt{

  
   margin-left:80px;
    position:absolute;
    
    width:100px;
    height:40px;
    background-image: linear-gradient(to right, pink , rgb(0, 166, 255));
    border-radius:30px;
    transition:.5s;
}
.icon{
    margin:30px auto;
    text-align:center;
}
.icon img{
     width:30px;
     margin:0 12px;
     box-shadow:0 0 20px 0 #7f7f7f3d;
     cursor:pointer;
     border-radius:50%;

}
.inputinfo{
     top:180px;
     position:absolute;
     width:280px;
     transition: .5s; 
}
.input{
    width:100%;
    padding:10px 0;
    margin:5px 0;
    border-left:0;
    border-top: 0;
     border-right: 0;
     border-bottom: 1px solid #999 ;
     outline:none;
     background:transparent;
}
.submit-btn{
    width:85%;
     padding:10px;
     cursor:pointer;
     display:block;
     margin:auto;
     background-image: linear-gradient(to right, pink , rgb(0, 166, 255));
    border:0;
    outline:none;
    border-radius:30px;
}
.check-box{
    margin:30px 10px 30px 0;
}
span{
    color:#777;
    font-size:12px;
    bottom:68px;
    position:absolute;
    
}
.loginform{
     left:50px;
}
.registerform{
   left:450px;
}
